.quiz-card {
  border: solid 1px var(--primary-color);
  margin: 5% auto;
  width: 75%;
  padding-bottom: 2%;
  text-align: center;
  background: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.quiz-card__bookmark {
  position: relative;
  left: 40%;
  top: -1rem;
  z-index: 10;
  transition: 0.2s ease;
}

.quiz-card__bookmark:hover {
  cursor: pointer;
}

.article--hidden {
  display: none;
  margin: 0 auto;
}

.article--show {
  display: block;
}

.quiz-card__answer {
  border-radius: 10px;
  border: 0.3rem dotted var(--third-color);
}

.quiz-card__list {
  list-style: none;
  display: flex;
  padding: 2rem 3rem;
  gap: 10%;
  flex-wrap: wrap;
  gap: 10px;
}

.quiz-card__tag {
  background-color: var(--tag-color);
  border-radius: 1em;
  padding: 0.52em;
  opacity: 0.7;
  max-width: fit-content;
}

.quiz-card__button {
  padding: 2% 5%;
  margin: 2% 5% 2% 5%;
  border: none;
  background-color: lightcyan;
  font-size: 1em;
  transition: box-shadow 0.1s ease-out;
}

.quiz-card__button:hover {
  background-color: lightblue;
  border: none;
}

.quiz-card__button:active {
  background-color: darkcyan;
  box-shadow: 0.3em 0.2em lightblue;
}
