.navbar {
  position: fixed;
  background: var(--primary-color);
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  height: 80px;
  padding: 15px;
  z-index: 20;
}

.navbar__item {
  padding: 22px 40px;
}

.navbar__item:hover {
  background: var(--background-color);
  border-radius: 10px;
}

.navbar__item--active {
  background: var(--background-color);
  border-radius: 10px;
}

.navbar svg {
  height: 2rem;
}
